[submodule "mobapps-course"]
	path = mobapps-course
	url = https://github.com/andreendo/mobapps-course
[submodule "pc03-dmovel"]
	path = pc03-dmovel
	url = https://github.com/matheusranzani/pc03-dmovel
[submodule "pc05_06_07_dmovel"]
	path = pc05_06_07_dmovel
	url = https://github.com/matheusranzani/pc05_06_07_dmovel
[submodule "Hi-KI"]
	path = Hi-KI
	url = https://github.com/thaleswinther/Hi-KI
